body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right, #60bfd9, #58b0a5); */
background-image: url("./assets/images/background.jpeg");

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* all areas */

h1, h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
  0 0 20px #9ebfc5, 0 0 30px #98a2a3,
  0 0 40px #58c4d6;
}
button {
  border: solid black 2px;
  padding: 5px;
  border-radius: 10px;
}
button:hover {
  background-color: #299ba3;
}

a:hover {
color:  #057a70;
}

li:hover {
  color: #057a70;
  cursor: pointer;
}

.active {
  color: black;
  border-radius: 5px;
  background: linear-gradient( white, #a9dfea);
  padding: 2px 5px;
}

.navActive {
  color: #067b84;
}

/* every page container */
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin: 11px;
  border: solid 1px #19d6e3a3;
  border-radius: 5px;
  height: 80vh;
  background: #19d6e3a3;
  box-shadow: 0 30px 40px rgba(2, 85, 84, 0.5);


}


/* nav section */

.nav-section {
  width: 90%;
  height: 80vh;
  border: solid 1px #19d6e3a3;
  border-radius: 5px;
  background: #19d6e3a3;
  box-shadow: 0 30px 40px rgba(2, 85, 84, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3px 0;
  margin: 10px;

  /* flex-column py-3 m-3 text-center  */
}
nav {
  padding: 5px 0 50px 0;
}

nav li {
  padding: 10px;
}

.self {
  margin: auto;
  border-radius: 8px;
  opacity: 98%;
  box-shadow: 0 30px 100px rgba(32, 212, 212, .1)

  
}
.self::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;


}

/* projects */
.projects {
  margin: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  
}

/* .projects img {
  height: 40%;
} */

.projects h4 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.projects p {
  padding: 5px;
}
.single-project {
  border: solid 2px white;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 2);
  margin-bottom: 30px;
}

/* resume */
.skills {
  text-align: center;
  width: 100%;
}

.follow {
  /* border: solid 1px #23757a; */
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  padding: 15px 10vw;
  background: linear-gradient( white, #a9dfea);
  box-shadow: 0 30px 40px rgba(2, 85, 84, 1);
  margin: 30px 0px;
}

.follow a{
  padding: 0 25px;
}


/* contact section */
input, textarea {
  border-radius: 8px;
}
.address {
  padding: 10px 5px;
}
.icon {
  border-radius: 75px;
  height: 40px;
  padding-top: 5px;
}

.facebook {
  border-radius: 75px;
  height: 40px;
}




@media (min-width: 600px) {
  .self {
    height: 50%;
    width: 40%;
  }
}