body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: rgb(6, 55, 92);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* all areas */

.background {
  background-image: url("./assets/images/background.jpeg");
   width: 100%;
  /*height: 100vh; */
  box-sizing: border-box;
  background-repeat: no-repeat repeat;
  background-size: cover;

}

.flex-section {
  
  display: flex;
}

.font-style {
  color: black;
  text-shadow: 0 0 5px #a5d2ff, 0 0 10px #87c8d4,
  0 0 20px #74b7c3, 0 0 30px #98a2a3,
  0 0 40px #3b9ae8;
}

.heading-text, h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #a5d2ff, 0 0 10px #87c8d4,
  0 0 20px #74b7c3, 0 0 30px #98a2a3,
  0 0 40px #3b9ae8;
}
/* }
h1, h2 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #a5d2ff, 0 0 10px #87c8d4,
  0 0 20px #74b7c3, 0 0 30px #98a2a3,
  0 0 40px #3b9ae8;
} */
button {
  border: solid white 2px;
  padding: 5px;
  border-radius: 10px;
  color: rgb(12, 46, 93);
  box-shadow: 0 30px 40px rgba(139, 190, 242, 0.5);

  
}
button:hover {
  background-color: white;
  
  color: black;
}

a:hover {
  color: black;

}

li:hover {
  color: #010507;
  cursor: pointer;
}

.active {
  color: black;
  border-radius: 5px;
  background: linear-gradient( white, #a9dfea);
  padding: 2px 5px;
}

.navActive {
  color: #010507;
}

/* every page container */
.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
  margin: 30px;
  border: solid 1px #19d6e3a3;
  border-radius: 5px;
  height: 90vh;
  background: #177290a3;
  box-shadow: 0 30px 40px rgba(139, 190, 242, 0.5);


}


/* nav section */

.nav-section {
  width: 90%;
  height: 90vh;
  border: solid 1px #19d6e3a3;
  border-radius: 5px;
  background: #177290a3;
  box-shadow: 0 30px 40px rgba(139, 190, 242, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 3px 0;
  margin: 30px;

  /* flex-column py-3 m-3 text-center  */
}
nav {
  padding: 5px 0 50px 0;
}

nav li {
  padding: 10px;
}

.self {
  margin: auto;
  border-radius: 8px;
  opacity: 98%;
  box-shadow: 0 30px 100px rgba(32, 212, 212, .1);
  
}

.self::after {
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;


}

/* projects */
.projects {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-grow: 1; */
  /* height: vh;
   */
}

.projects img {
  border-radius: 8px;
  transition: 0.5s ease;
}

/* .projects img:hover {
  transform: scale(1.3) rotate(4deg); 
   cursor: pointer;
} */


.projects h4 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.projects p {
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.single-project {
  border: solid 2px white;
  border-radius: 8px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 2);
  margin: 25px;
  display: flex;
  flex-direction: column;
  color: white;
  

}
.single-project-img {
  width: 200px;
  height: 150px;
}

.single-project:hover {
  transform: scale(1.3) rotate(4deg); 
   cursor: pointer;
}
.github {
  border-radius: 50px;
  max-width: 20px;
  margin: auto;
}
.github:hover {
  transform: scale(1.3) rotate(4deg); 
   cursor: pointer;
}

/* resume */
.skills {
  text-align: center;
  width: 100%;
}

.follow {
  /* border: solid 1px #23757a; */
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  padding: 15px 10vw;
  background: linear-gradient( white, #a9dfea);
  box-shadow: 0 30px 40px rgba(139, 190, 242, 0.5);
  margin: 30px 0px;
}

.follow a{
  padding: 0 25px;
}


/* contact section */
input, textarea {
  border-radius: 8px;
}
.address {
  padding: 10px 5px;
  color: white;
  text-shadow: 0 0 5px #2a85df, 0 0 10px #5aaebd,
  0 0 20px #74b7c3, 0 0 30px #bbdcdf,
  0 0 40px #3b9ae8;
}
.icon {
  border-radius: 75px;
  height: 40px;
  padding-top: 5px;
}
.icon:hover {
  transform: scale(1.3) rotate(4deg); 
   cursor: pointer;
}

.facebook {
  border-radius: 75px;
  height: 40px;
}

.facebook:hover {
  transform: scale(1.3) rotate(4deg); 
   cursor: pointer;
}



.animation {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(1px, -1px) rotate(-1deg); }
  60% { transform: translate(-1px, 2px) rotate(0deg); }
  70% { transform: translate(-3px, 1px) rotate(-1deg); }
  80% { transform: translate(3px, 1px) rotate(-1deg); }
}


@media (max-width: 800px) {
  .about {
    font-size: 18px;
  }
  .single-project-img {
    width: 170px;
    height: 100px;
  }
  .projects h4 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.projects p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
.heading-text, h2 {
  font-size: 40px;
}
}

@media (max-width: 765px ) {
  .about {
    font-size: 14px;
  }
  .follow {
  padding: 2px 10vw;
}
}
@media (max-width: 744px) {
  .single-project-img {
    width: 150px;
    height: 80px;
  }
}
@media (max-width: 730px) {
  
  .single-project-img {
    width: 153px;
    height: 70px;
    margin: auto;
  }
  .projects h4 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.projects p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
.heading-text, h2 {
  font-size: 36px;
}
.about {
  font-size: 12px;
}
}

@media (max-width: 726px) {
  .about {
    font-size: 10px;
  }
  .heading-text, h2 {
    font-size: 30px;
  }
  .follow {
    padding: 0px 10vw;
  }
}

@media (max-width: 705px) {
  .about {
    font-size: 16px;
  }
  .flex-section {
    display: flex;
    flex-direction: column;
  }
  .self {
    margin: auto;
    min-height: 50%;
    max-width: 40%;
    object-fit: cover;
    
  }
  .heading-text, h2 {
    font-size: 36px;
  }
}

@media (max-width: 580px) {
  .about {
    font-size: 12px;
  }
  .self {
    margin: auto;
    min-height: 50%;
    max-width: 40%;
    object-fit: cover;
    
  }
  .heading-text, h2 {
    font-size: 30px;
  }


}
@media (max-width: 420px) {
 
  .self {
    margin: auto;
    min-height: 40%;
    max-width: 40%;
    object-fit: cover;
    
  }


}

@media (max-width: 350px) {
 .about {
    font-size: 11px;
  }
  .resume-info {
    font-size: 14px;
  }
  .single-project-img {
    width: 150px;
    height: 40px;
    margin: auto;
  }
  .projects h4 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.projects p {
  padding: 1px;
  text-align: center;
  font-size: 8px;
}

}

@media (max-width: 279px) {
  .about {
    font-size: 10px;
  }
   button {
    font-size: 14px;
   }
   .icon {
    border-radius: 75px;
    height: 30px;
    padding-top: 5px;
  }
  
  .facebook {
    border-radius: 75px;
    height: 30px;
  }
  .follow {
    /* border: solid 1px #23757a; */
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10vw;
    background: linear-gradient( white, #a9dfea);
    box-shadow: 0 30px 40px rgba(139, 190, 242, 0.5);
    margin: 30px 0px;
  }

  
 
 }